.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid #aaa;
    border-radius: 4px;
}
span.select2-results {
    background-color: #262b3c !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #c3cbe4 !important;
    line-height: 28px;
}


.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #32394e !important;
    border-radius: 4px;
}
.table-bordered {
    border: 1px solid #696d78 !important;
}

.select2-container .select2-selection--single {
    height: 36px !important;
}

 .select2-container--default .select2-selection--single .select2-selection__placeholder {
     color: #f6f6f6 !important;
  }
